/* General Styling */
body {
    font-family: "Inter", sans-serif;
    background-color: #e8e8e8;
}

.dash-title {
    padding: 10px 19%;
    color: #15098f;
    font-weight: 900;
}

.profile-container {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.save-button {
    align-self: flex-end;
    background-color: #4163dd;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 100px;
    font-size: 16px;
}

.edit-fields {
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #a9a9a9;
    border-radius: 10px;
}

.skill-container {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

h2 {
    color: #333333;
}

.skill-fields {
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #a9a9a9;
    border-radius: 10px;
}

.logout-button, .skill-button, .add-skill-button {
    background-color: #4163dd;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #024792;
    transition: background-color 0.2s ease-in-out;
}

.error {
    color: red;
    font-size: 14px;
}

/* ProfileView Component Styles */
.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-button {
    background-color: #4163dd;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 100px;
    font-size: 16px;
}

.role-header {
    color: #7d7d7d;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
}


/* SkillManagement Component Styles */
.delete-button, .cancel-skill-button {
    border: 1px solid #555555;
    background-color: #ffffff;
    color: rgb(86, 86, 86);
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;  
}

.delete-button:hover, .cancel-skill-button:hover {
    background-color: #e3e3e3;
    transition: background-color 0.2s ease-in-out;
}

.skills-container {
    margin-top: 20px;
}

.skill-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-actions {
    display: flex;
    gap: 10px;
}

.skill-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}





