@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.profile-completion-container {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eeeeee;
    background-size: cover;
}

.prof-complete-title {
    font-size: 25px;
    color: rgb(55, 55, 55);
}

.prof-complete-sub {
    font-size: 14px;
    color: rgb(121, 121, 121);
    padding-bottom: 25px;  
    text-align: center; 
    margin: 0;
}

.name-container {
    display: flex;
    width: 90%;
}

.name-container input:first-child {
    margin-right: 12px;
}

.rate-container {
    display: flex;
    width: 90%;
}

.rate-container input:first-child {
    margin-right: 12px;
}


.prof-complete-input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ababab;
    border-radius: 15px;
    box-sizing: border-box;
}

.pfp-file {
    display: inline-block;
    padding: 30px;
}

.prof-pic-text {
    font-size: 13px;
    color: rgb(121, 121, 121);
    padding-top: 25px;  
    margin: 0;
    text-align: center; 
}

.completion-form-container {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 600px;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}


.back-button {
    align-self: flex-start;
    margin-left: 30px;
    padding: 10px;
    width: 70px;
    background-color: #3359E1;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.back-button:hover {
    background-color: #0056b3;
}

textarea {
    resize: vertical;
    max-height: 500px;
    min-height: 100px;
}

.form-stepper {
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

/* Style for active step */
.form-stepper .active-step {
    font-weight: bold;
    color: #333;
}

/* Style for inactive steps */
.form-stepper .inactive-step {
    color: #999;
}

/* Style for step separator */
.form-stepper .step-separator {
    margin: 0 10px;
}