<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="login_signup.css" />
    <title>Sign in Form</title>
</head>

<body>
    <div class="container">
        <div class="forms-container" id="MainForm">
          <div class="signin">
  
            <!-- sign-in form -->
            <form action="#" class="sign-in-form" id="SignInForm">
              <h2 class="title">Sign in</h2>
              <div class="input-field">
                <i class="fas fa-user"></i>
  
                <!-- email field -->
                <input type="text" id="email-inp-login" placeholder="Email" required/>
              </div>
              <div class="input-field">
                <i class="fas fa-lock"></i>

                 <!-- password field -->
              <input type="password" id="password-inp-login" placeholder="Password" required/>
            </div>

             <!-- login button -->
            <!-- <input type="button" value="Login" class="btn solid" /> -->
            <button type="submit" class="btn solid">Login</button>
            
            <p class="message"> Dont have an account?</p>
            </form>
            <form class="login-form">
                <button type="button" onclick="window.location.href='signup.html'">SIGN UP</button>
              </form>

            



</body>