<!DOCTYPE html>
<html lang="en">
 
<head>
    <link rel="stylesheet" href="profilecard_style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href=
"https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap"
          rel="stylesheet">
</head>
 
<body>
    <div class="container">
        <div class="user-image">
            <!-- add image later-->
            <img 
                alt="this image contains user-image">
        </div>
        <div class="content">
            <h3 class="name">User's Name</h3>
            <p class="username">phone number</p>

            <p class="details">
                short bio
            </p>
            <a class="effect effect-4" href="#">
                Contact
            </a>
        </div>
    </div>
 
    <!-- This is link of adding small images
         which are used in the link section  -->
    <script src="https://kit.fontawesome.com/704ff50790.js"
            crossorigin="anonymous">
    </script>
</body>
 
</html>